<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="css/styles.css">

  {{>title}}
</head>
<body>

  <div class="main-content">
    {{>header}}
    <img src="img/ritesh.jpeg" alt="Ritesh Patil" class="profile-picture">
    <p class="about-para">This site was created by Ritesh Patil. It uses data from mapbox.com and darksky.net </p>
    <p class="about-para sizing">Technologies Used: <br>
    Front End: HTML, CSS, Javascript, Bootstrap, SASS <br>
    Back End: Javacript, NodeJs, ExpressJs, NPM Package Manager, Git, GitHub, Heroku</p>
  </div>

  
    
  {{>footer}}
  
</body>
</html>